.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 83.2vh;
  width: 100%;
  background-color: yellow;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}
